@import url('https://fonts.googleapis.com/css2?family=Saira:100,200,300,400,500,600');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Saira, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F0EE;
}

/*----------------------------------------Header Section*/

.header {
    height: 70px;
    background: #2f2d2e;
    margin: 0;
}

#company-logo {
     color: #B02841;
     text-transform: uppercase;
     float: left;
     font-size: 225%;
     letter-spacing: 2px;
}

#navbar-links {
    font-size: 125%;
    list-style-type: none;
}

#company-logo, #navbar-links {
    line-height: 70px;
}

#navbar-links li {
    float: right;
    margin-right: 20px;
}

#navbar-links a:hover {
    border-bottom: 2px solid #B02841;
}

#navbar-links a {
    text-decoration: none;
    color: #B02841;
}

.active {
    border-bottom: 2px solid #B02841;
}

/*----------------------------------------Header Section*/

/*----------------------------------------Home page photos*/

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row::after {
	display: table;
	clear: both;
}

/*----------------------------------------Home page photos*/

/*----------------------------------------Home page text*/



/*----------------------------------------Home page text*/

/*----------------------------------------Destinations links*/



/*----------------------------------------Destinations links*/

/*----------------------------------------Footer Section*/

footer {
    height: 70px;
    background: #2f2d2e;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-items {
    text-align: center;
}

.footer-items li {
    display: inline;
}

.container-fluid {
    position: absolute;
    bottom: 0;
}

.social-network-icons {
    text-align: center;
}

.social-network-icons li {
    display: inline;
}

.social-network-icons i {
    font-size: 150%;
    margin: 15px;
    padding: 10px;
    color: #b02841;
}

/*----------------------------------------Footer Section*/